$bodybackgroundcolor: #F1F0E2;
$bodycolor: #222;
$firstcolor: #466A73;
$btnprimarybackground: #3E4E59;
$btndanger: #F25652;
$links: #1859BD;


@import'sass/reset';

@import'sass/base';
@import'sass/grid';
@import'sass/modules/navbars';
@import'sass/modules/buttons';
@import'sass/utilities';
