/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  margin: 0 auto;
  max-width: 130.0rem;
  padding: 0 2.0rem;
  position: relative;
  width: 100%;
}

.grid {
	display: grid;
}

.grid-responsive {
	display: block;
}

.grid-2 {
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 20px;
}

.grid-3 {
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
}

.grid-2-1 {
	grid-template-columns: 2fr 1fr;
	grid-column-gap: 20px;
}

.grid-1-2 {
	grid-template-columns: 1fr 2fr;
	grid-column-gap: 20px;
}

@media (min-width: 70rem) {

.grid-responsive {
	display:grid;
}

.order-small-1 {
	grid-row: 2 / 2;
}

}